.notice-table th {
  padding: 20px;
  text-align: start;
  border-bottom: 1px solid var(--gray300);
}

.notice-table td {
  padding: 20px;
  text-align: start;
  border-bottom: 1px solid var(--gray300);
}
