.pin-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
  padding: 8px;
  border-radius: 80px;

  background-color: #fff;

  .icon-container {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f7ff;
    border-radius: 80px;
  }

  .pin-text-container {
    display: flex;
    flex-direction: column;
  }

  .pin-bottom {
    position: absolute;
    left: 50%;
    bottom: -7px;

    transform: translateX(-50%);
  }
}

.selected {
  background-color: #3366ff;
  z-index: 999999999999;

  & * {
    color: #fff !important;
    fill: #3366ff;
  }
}
