.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
  height: 133px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: var(--shadow);
}

.card-tag-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 500px) {
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: none;
    height: 133px;
    padding: 16px;
    border-radius: 12px;
    box-shadow: var(--shadow);
  }
}
