.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  max-width: 100%;

  .nav-button-container {
    display: flex;
    gap: 8px;
    padding: 8px;

    .button {
      display: flex;
      align-items: center;
      padding: 8px;
    }

    .selected {
      color: #36f;
    }
  }
}
