.detail-container {
  border: 1px solid var(--gray300);
  border-radius: 12px;
  overflow: clip;

  .detail-row {
    display: flex;
    border-bottom: 1px solid var(--Grey-300, #eee);

    .detail-title {
      display: flex;
      align-items: center;
      width: 96px;
      padding: 16px 12px;
      background-color: var(--gray50);
    }
    .detail-info {
      padding: 16px 12px;
    }
    .detail-info-flood {
      padding: 16px 12px;
      display: flex;
      flex-direction: column;
    }
  }
}
